{% extends 'base.html' %}
{% block 'content' %}
    <div class="container mt-5">
            <div class="row">
              <div class="col-md-6">
                <h2>Nosotros</h2>
                <p>OnlyFlans es una empresa familiar con sede en Santiago de Chile, fundada en 2021 con una pasión por la pastelería y los postres, con un enfoque especial en la venta de flanes. Ubicada estratégicamente en Providencia, a pasos del metro Parque Bustamante, nos esforzamos por ofrecer productos de calidad que deleiten a nuestra clientela.</p>
              </div>
              <div class="col-md-6">
                <h2>Misión</h2>
                <p>Nuestra misión en OnlyFlans es proporcionar a nuestros clientes productos de pastelería excepcionales que superen sus expectativas en sabor y calidad. Nos esforzamos por mantener altos estándares en cada aspecto de nuestro negocio, desde la selección de ingredientes hasta la presentación final del producto. Además, nos comprometemos a brindar un excelente servicio al cliente y a ser una parte integral de la comunidad en la que operamos.</p>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-6">
                <h2>Visión</h2>
                <p>En OnlyFlans, nuestra visión es convertirnos en un referente en el mundo de la pastelería y los postres, reconocidos por nuestra dedicación a la excelencia y nuestra capacidad para innovar. Nos esforzamos por ampliar nuestra presencia en el mercado nacional e internacional, manteniendo siempre nuestros valores fundamentales de calidad, integridad y pasión por lo que hacemos. Además, aspiramos a desarrollar relaciones sólidas y duraderas con nuestros clientes, siendo su primera opción cuando buscan productos de alta calidad y sabor excepcional.</p>
              </div>
            </div>
          </div>
{% endblock %}
 